.about{
  text-align: justify;
}

.about .portrait{
  float: right;
  display: block;
  padding: 0 0 1em 1.5em;
  height: 100%;

}

#profile-pic{
  display: block;
  width: 30%;
  margin: -.6em auto .5em auto;
  /*height: 30%;*/
}


.skills{
  margin: 0 10%;
}

table{
  margin-left: 28%;
  margin-right: 28%;
}


.box-skills{
  border-style: solid;
  border-width: 2px;
}

.box-skills-container{
  display: flex;
  justify-content: center;
}

.hide-weird{
  color: white;
}

hr {
    border: 0;
    width: 70%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact{
  background-color: #81d8d0;
}


/*Social Media Icons*/

.icon{
  color: #fff;
  border-radius: 4px;
  background: #a6e3de;
  width:40px;
  height:40px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
   -webkit-font-smoothing: antialiased;
}

.icon:hover{
  background: #d9f3f0;
}

a span{
  display: none;}





/*    */
/*for scroll to top button*/
/*    */
.scroll-top-wrapper {
  position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
  background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 50%;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
